body {
    margin:0;
}
.hidden-win ,.hidden-setup, .hidden-changer{
    display: none !important;
}

h1 {
    color: aquamarine;
    font-size: 64px;
    font-weight: 800;
}
h2{
    text-align: center;
    font-size: 30px;
    color:  rgb(229, 231, 190);
    margin-bottom: 5px;
}


input{
    height: 32px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    border-radius: 10px;
    background-color: rgb(97, 91, 102);
    color: rgb(229, 231, 190);
    font-size: 30px;
    font-weight: 700;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

/* Instructions */
.instructions{
    background-color:rgba(255, 255, 255, 0.185);
    height: 100vh;
    width:100vw;
    position: absolute;
}
.hidden-instructions{
display: none;
}

.instructions--player{
    position: absolute;
    top:50px;
    left:150px;
    color:rgba(0, 0, 0, 0.822);
}

.instructions--settings{
    color:rgba(0, 0, 0, 0.822);
    position: absolute;
    left: 93.5vw;
    top:-5px;
    font-size: 1.2rem;
}

.instructions--finish{
    position: absolute;
    top: 79.5vh;
    left:85.5vw;
    font-size: 4rem;
    color:rgba(0, 0, 0, 0.822);
}
.instructions-jumbotron{
    background-color: rgba(202, 202, 202, 0.432);
    width: 30vw;
    height: 40vh;
    position: absolute;
    top: 30vh;
    left:35vw;
}

.instructions-jumbotron--title{
    color:#daa520;
}

.instructions-jumbotron--desc{
    font-size: 1.25rem;
    margin: 50px;
    color: rgba(0, 0, 0, 0.897);;
}

.instructions-jumbotron--alert{
    text-align: center;
    color:rgba(134, 5, 5, 0.856);
    font-size: 1.3rem;
    font-weight: 900;
    
}

/* Finish Instructions */



.icon{
    display: flex;
    color:#daa520;
    font-size: 30px;
    position: absolute;
    justify-content: flex-end;
    right:15px;
    top:10px
    
}
.icon:hover{
    cursor: auto;
    color: rgb(252, 181, 2);
}

.setup {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 33%;
   right: 42%;
   left: 44%;
    justify-content: center;
}
.changer{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 30%;
    left: 35%;
    right: 35%;
}

button{
    margin-top: 8px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    font-size: large;
    color: rgb(87, 86, 29);
    font-weight: 700;
    background-color: rgb(209, 205, 247);
    outline: none;
}
button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}
.close {
    background-color: rgb(206, 13, 13);
    color:white;
}
.close:hover{
    background-color: rgb(235, 0, 0);
}
.restartSet, .restartWin {
    background-color: rgb(233, 172, 59);
    color:black;
}
.restartSet:hover{
    background-color: rgb(247, 143, 7);
}
.restartWin:hover{
    background-color: rgb(247, 143, 7);
}

.changerBtn{
    text-align: center;
    margin-top: 5%;
}
.applyBtn{
    color: rgb(224, 216, 216);
    margin-right: 5%;
    background-color:green;
    width: 25%;
}
.backBtn{
    color: rgb(224, 216, 216);
    background-color: rgb(161, 4, 4);
    width: 25%;
}
.applyBtn:hover{
    background-color: rgb(0, 214, 0);
    color: black;
}
.backBtn:hover{
    background-color: rgb(255, 7, 7);
    color: black;
}
